<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    
    <table id="table-1" border="1">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <!-- Le tableau sera vide initialement -->
      </tbody>
    </table>

  </body>
</html>